-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu115
torchtext==0.12.*
gym==0.17.3
transformers=4.21.0
flatten_dict
tensorboard
cpprb
termcolor
pygments
tabulate
nltk
scikit-learn
pandas
sacremoses
ujson
accelerate=0.20.3