-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu115
torchtext==0.12.*
gym==0.25.*
transformers
flatten_dict
tensorboard
cpprb
termcolor
pygments
tabulate
nltk
scikit-learn
pandas
sacremoses
ujson
